*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
}
.main-cont{
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

padding: 20px;
    background-image: url(/Assets/images/brianna-parks--bKIw_lc2xo-unsplash.jpg);
    background-size: cover;
}